<div>
    <div class="col-md-4 center-block no-float form-login form-login">
      <div class="animated bounceInRight"><br>
      <font face="comic sans ms"><h2 class="text-color text-center">Iniciar Sesión</h2></font>
      </div>
        <br/>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
        <div class="input-field">
          <label><i class="fa fa-user fa-2x text-color"> Usuario</i></label>
          <%= f.text_field :usuario, autofocus: true %>
        </div>
        <br />
        <div class="input-field">
          <label><i class="fa fa-lock fa-2x text-color"> Contraseña</i></label>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
    <br />
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, :class=>"text-color" %>
        </div>
      <% end -%>
    <br />
      <div class="actions">
        <a><%= f.submit "Entrar", :class=>"btn btn-border-info btn-rounded btn-lg btn-block" %></a>
      </div>
      
  <% end %>
  
      <div class="text-center">
      <%= render "devise/shared/links" %>
      </div>
  
    </div>
</div>